camelweb/src/helloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="HelloWorldService" targetNamespace="http://demo.cxf.starit.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demo.cxf.starit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://demo.cxf.starit.com/" version="1.0" xmlns:tns="http://demo.cxf.starit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="plus" type="tns:plus"/>
<xs:element name="plusResponse" type="tns:plusResponse"/>
<xs:element name="revert" type="tns:revert"/>
<xs:element name="revertResponse" type="tns:revertResponse"/>
<xs:element name="sayHi" type="tns:sayHi"/>
<xs:element name="sayHiResponse" type="tns:sayHiResponse"/>
<xs:complexType name="sayHi">
<xs:sequence>
<xs:element minOccurs="0" name="greet" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sayHiResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="revert">
<xs:sequence>
<xs:element name="num" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="revertResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="plus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="plusResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="plus">
    <wsdl:part element="tns:plus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revert">
    <wsdl:part element="tns:revert" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revertResponse">
    <wsdl:part element="tns:revertResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="plusResponse">
    <wsdl:part element="tns:plusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revert">
      <wsdl:input message="tns:revert" name="revert">
    </wsdl:input>
      <wsdl:output message="tns:revertResponse" name="revertResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="plus">
      <wsdl:input message="tns:plus" name="plus">
    </wsdl:input>
      <wsdl:output message="tns:plusResponse" name="plusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldServiceSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revert">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="revert">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="revertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="plus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="plus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="plusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port binding="tns:HelloWorldServiceSoapBinding" name="HelloWorldPort">
      <soap:address location="http://localhost:9000/helloWorld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>